<link href="~/CSS/anzeige.css" rel="stylesheet" />
<div class="divAnzeigeLinks">
    Anmelden<br />
    <table border="0">
        <tr>
            <td>Username:&nbsp;&nbsp;</td>
            <td><input type="text" id="txtAnmeldungEmail" class="txtInput" /></td>
        </tr>
        <tr>
            <td>Passwort:&nbsp;&nbsp;</td>
            <td><input type="password" id="txtAnmeldungPasswort" class="txtInput" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <button id="btnAnmelden" class="btnAnzeige">Anmelden</button>
            </td>
        </tr>
    </table>

</div>

<div class="divAnzeigeRechts">
    Registrieren<br />
    <table border="0">
        <tr>
            <td>Username:&nbsp;&nbsp;</td>
            <td><input type="text" id="txtRegistrierenEmail" class="txtInput" /></td>
        </tr>
        <tr>
            <td>Passwort:&nbsp;</td>
            <td><input type="password" id="txtRegistrierenPasswort" class="txtInput" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <button id="btnRegistrieren" class="btnAnzeige">Registrieren</button>
            </td>
        </tr>
    </table>

</div>

<script src="~/Scripts/Schach/Anzeige.js"></script>
