<link href="~/CSS/anzeige.css" rel="stylesheet" />

<div class="divAnzeigeSpielerauswahl">
    Hallo @Session["Spieler"].ToString()<br />
    Zur Zeit sind folgende Spieler aktiv:<br />
    <table id="tabSpieler" class="tabSpieler"></table>
    <hr />
    <label id="lblAnfrage" />
</div>

<script src="~/Scripts/Schach/Anzeige.js"></script>
